

    <mat-toolbar style="background-color:rgb(38, 141, 124); position:fix; top:0; left:0; right:0; z-index: 9999;" class="mat-elevation-z6">
        <span>
           <img class="logo" src="assets/images/logo.png"/>
            
        </span>
        
        <div class="spacer"></div>
        
        
       <!----<mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home"></mat-icon>-->
        <a mat-button routerLink="/">Home</a>
         <a mat-button routerLink="/creator">Create Blog</a> 
        <a mat-button routerLink="/employee">Employee</a> 
        <a mat-button routerLink="/content">Content</a> 
        <a mat-button routerLink="/eprofile">empprofile</a>  
        <a mat-button routerLink="/cprofile">creatorprofile</a> 
        <a mat-button routerLink="/vprofile">visitorprofile</a> 
        
        
        <!--<link rel="stylesheet" href="navbar.component.css">-->
        
      <a mat-raised-button class="btn1" style="background-color:rgb(233, 171, 90)" routerLink="/register">
        <mat-icon>assignment_ind</mat-icon>Register</a>
        <a mat-raised-button style="background-color:rgb(233, 171, 90)" routerLink="/login"><mat-icon>lock</mat-icon>Login</a>
    </mat-toolbar>

    
    
    

