
<div class="profile-box">
    <h2>Creator Profile</h2>
    <div class="user-details">
      <div class="detail-box">
        <div class="detail-label">Id:</div>
        <div class="detail-value">{{ user.id }}</div>
      </div>
      <div class="detail-box">
        <div class="detail-label">Name:</div>
        <div class="detail-value">{{ user.name }}</div>
      </div>
      <div class="detail-box">
        <div class="detail-label">Email:</div>
        <div class="detail-value">{{ user.email }}</div>
      </div>
      <div class="detail-box">
        <div class="detail-label">Contact:</div>
        <div class="detail-value">{{ user.contact }}</div>
      </div>
      <div class="detail-box">
        <div class="detail-label">Gender:</div>
        <div class="detail-value">{{ user.gender }}</div>
      </div>
      <div class="detail-box">
        <div class="detail-label">Role:</div>
        <div class="detail-value">{{ user.role }}</div>
      </div>
      <div class="detail-box">
        <div class="detail-label">Password:</div>
        <div class="detail-value">{{ user.password }}</div>
      </div>
      <!-- <div>
      <button class="savebtn">Save</button>
      <button class="editbtn">Edit</button>
      </div> -->
    </div>
  </div>









  <!-- <div class="profile-container">
    <div class="profile-header">
        <h1>{{user.name}}</h1>
        <p>Contact:{{user.contact}}</p>
        <p>Email:{{user.email}}</p>
        <p>Role:{{user.role}}</p>
        <p>Gender:{{user.gender}}</p>
    </div>
</div> -->

<!-- <div class="container">
    <mat-card class="profile-card">
        
            <mat-card-title class="title">Creator Profile</mat-card-title>
        
        <mat-card-content>
    
             <div>
                <p><strong>Name:</strong> {{user.name}}</p>
                <p><strong>Email:</strong> {{user.email}}</p>
                <p><strong>Contact:</strong> {{user.contact}}</p>
                <p><strong>Gender:</strong> {{user.gender}}</p>
                <p><strong>Role:</strong> {{user.role}}</p>
            </div> 
             
            <button class="savebtn" >Save</button>
            <button class="editbtn">Edit</button>
        </mat-card-content>
    </mat-card>
    </div> -->










    <!-- <div *ngIf="editing">> 
                <label>Name:</label>
                <input type="text" [(ngModel)]="user.name">
                <br>
                <label>Email:</label>
                <input type="text" [(ngModel)]="user.email">
                <br>
                <label>Contact:</label>
                <input type="text" [(ngModel)]="user.contact">
                <br>
                <label>Gender:</label>
                <select [(ngModel)]="user.gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>  -->