 <div class="profile-box">
    <h2>Employee Profile </h2>
    <table class="user-table">
      
      <tr>
        <td class="field-cell">Id :</td>
        <td class="data-cell">{{ user.id }}</td>
      </tr>
      <tr>
        <td class="field-cell">Name :</td>
        <td class="data-cell">{{ user.name }}</td>
      </tr>
      <tr>
        <td class="field-cell">Email :</td>
        <td class="data-cell">{{ user.email }}</td>
      </tr>
      <tr>
        <td class="field-cell">Contact :</td>
        <td class="data-cell">{{ user.contact }}</td>
      </tr>
      <tr>
        <td class="field-cell">Gender :</td>
        <td class="data-cell">{{ user.gender }}</td>
      </tr>
      <tr>
        <td class="field-cell">Role :</td>
        <td class="data-cell">{{ user.role }}</td>
      </tr>
      <tr>
        <td class="field-cell">Password :</td>
        <td class="data-cell">{{ user.password }}</td>
      </tr>
    </table>
     <br>
    <!-- <div>
      <button class="savebtn">Save</button>
      <button class="editbtn">Edit</button>
      </div> -->
    </div> 













    <!-- <h2>Employee Profile  {{displayword}}</h2> -->